DJANGO_DEBUG=on
DJANGO_SECRET_KEY="CHANGEME!!!49jwy5efm!!%1_2i*b2_+o_lihd8!ml+cqbpprizm0w4%#q!_k"
DJANGO_ADMINS=Some User:some.user@gmail.com,
DJANGO_ALLOWED_HOSTS=*
DJANGO_STATIC_ROOT=path/to/static/root
DJANGO_MEDIA_ROOT=path/to/media/root
DJANGO_DATABASE_URL=sqllite:///mobifix
DJANGO_EMAIL_URL="smtp://user@:password@localhost:25"
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend



